@use '../base';

.loginSection {
  $height: 70vh;

  margin-top: 15vh;
  margin-bottom: 15vh;
  height: $height;
  padding: 0.5em;

  .headerRow {
    height: $height * 0.15;
    h1 { font-weight: bold; }
  }

  .formRow {
    height: $height * 0.75;

    .loginForm {
      border-radius: 2%;
    }
  }

  .footerRow {
    height: $height * 0.1;

    .copyrightBlock {
      color: gray;
      font-size: 0.85em;

      span {
        margin-right: 0.5em;
      }
    }
  }
}